@charset "UTF-8";
/******************************************************************** bootstrap *******************************************************************/
/******************************************************************** bootstrap *******************************************************************/
/******************************************************************** mondai *******************************************************************/
.mondai_table { background-color: #fffbe8; box-shadow: 0px 0px 300px #f6f4df inset; border: 5px double #333333; border-radius: 10px; margin-bottom: 10px; margin-right: 10px; width: 100%; }
.mondai_table th { padding: 5px; background-color: #D7D7C4; }
.mondai_table tr { border: 1px solid #000; }
.mondai_table td { padding: 5px; }
.mondai_table [title="5"] { width: 5%; }
.mondai_table [title="10"] { width: 10%; }
.mondai_table [title="15"] { width: 15%; }
.mondai_table [title="20"] { width: 20%; }
.mondai_table [title="30"] { width: 30%; }
.mondai_table [title="40"] { width: 40%; }
.mondai_table [title="45"] { width: 45%; }
.mondai_table [title="50"] { width: 50%; }
.mondai_table [title="70"] { width: 70%; }
.mondai_table [title="80"] { width: 80%; }

.kage { background-color: #f2eeda; }

.soudan_table { background-color: #fffbe8; box-shadow: 0px 0px 300px #f6f4df inset; border-collapse: collapse; margin-bottom: 10px; margin-right: 10px; width: 100%; }
.soudan_table th { width: 10%; padding: 5px; background-color: #e5dfa7; }
.soudan_table tr { border: 1px solid #000; }
.soudan_table td { width: 5%; padding: 5px; }

/******************************************************************** show *******************************************************************/
.box { margin-top: 30px; margin-right: auto; margin-left: auto; margin-bottom: 30px; padding-top: 20px; padding-right: 20px; padding-left: 20px; padding-bottom: 10px; background-color: #f8f7ed; box-shadow: 0px 3px 10px #000 ,0px 0px 300px #f6f4df inset; max-width: 1050px; font-size: 18px; line-height: 1.7em; font-family: serif; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

.subbox { display: inline; float: left; padding: 8px; font-size: 23px; font-family: serif; font-weight: bold; background-color: #f8f7ed; box-shadow: 0px 3px 10px #000 ,0px 0px 300px #f6f4df inset; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

.img_sashie { margin-bottom: 20px; }

.usui { color: #7f7f7f; }

.small { max-width: 950px; margin-top: 30px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }

.situmon_wrap { width: 1050px; margin-right: auto; margin-left: auto; margin-bottom: 27px; }

.situmon_wrap-main { width: 650px; margin-right: auto; margin-left: auto; }

.hukidasi { width: 48%; width: -moz-calc(50% - 80px); width: -webkit-calc(50% - 80px); width: calc(50% - 80px); width: calc(50% - 66px); position: relative; margin-left: 58px; margin-right: 8px; margin-bottom: 7px; }
.hukidasi p { margin-top: 0px; margin-bottom: 0px; }
.hukidasi .hukidasi_box { font-size: 14px; padding-top: 6px; padding-right: 12px; padding-left: 74px; padding-bottom: 3px; -webkit-border-radius: 10px; /* for Safari and Chrome */ -moz-border-radius: 10px; /* for Firefox */ -o-border-radius: 10px; /* for opera */ border-radius: 20px; color: #000; background-color: #fff; box-shadow: 0px 0px 3px #000; }
.hukidasi .f { position: absolute; left: 10px; bottom: -27px; z-index: 9; }
.hukidasi .f-r { position: absolute; bottom: -27px; left: calc(100% - 40px); }
.hukidasi .f-rm { position: absolute; bottom: -27px; left: calc(100% - 40px); }
.hukidasi .f-rh { position: absolute; right: 17px; z-index: 2; }

.hukidasi-r { position: relative; margin-top: 1px; margin-bottom: 7px; margin-left: 8px; margin-right: 58px; width: 48%; width: -moz-calc(50% - 80px); width: -webkit-calc(50% - 80px); width: calc(50% - 80px); width: calc(50% - 66px); }
.hukidasi-r .hukidasi_box { padding-right: 74px; padding-left: 12px; }

.hukidasi-main { width: 48%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 80px); width: -webkit-calc(100% - 80px); width: calc(100% - 80px); font-family: serif; margin-bottom: 0; width: 48%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 80px); width: -webkit-calc(100% - 80px); width: calc(100% - 80px); }
.hukidasi-main .hukidasi_box { font-size: 23px; margin-top: 12px; padding-top: 17px; padding-right: 19px; padding-left: 79px; padding-bottom: 16px; -webkit-border-radius: 10px; /* for Safari and Chrome */ -moz-border-radius: 10px; /* for Firefox */ -o-border-radius: 10px; /* for opera */ border-radius: 20px; color: #000; background-color: #fff; box-shadow: 0px 0px 3px #000; }

.hukidasi-main-r { position: relative; margin-bottom: 20px; font-weight: bold; }
.hukidasi-main-r .hukidasi_box { padding-top: 17px; padding-right: 79px; padding-left: 19px; padding-bottom: 16px; }

.hukidasi-p { width: auto; margin-bottom: 50px; }
.hukidasi-p .f-h { position: absolute; left: 60px; z-index: 2; }
.hukidasi-p .hukidasi_box { position: relative; bottom: -27px; margin-bottom: 10px; padding: 20px; }

.hukidasi-hitokoto { width: auto; }
.hukidasi-hitokoto .hukidasi_box { padding-left: 12px; position: relative; bottom: -27px; margin-bottom: 10px; }

.hukidasi-avatar { width: auto; }
.hukidasi-avatar .hukidasi_box { padding-left: 12px; position: relative; margin-bottom: 10px; }

span.name { display: block; color: #7f7f7f; font-size: 14px; }
span.name a { color: #000; text-decoration: none; }
span.name a:hover { color: #000; text-decoration: underline; }

.inline_block { display: inline-block; }

.gakubuti { margin: 10px; background-color: #f8f7ed; box-shadow: 0px 3px 10px #000 ,0px 0px 300px #f6f4df inset; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

.gakudake { margin: 10px; background-color: #f8f7ed; box-shadow: 0px 3px 10px #000 ,0px 0px 300px #000 inset; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

.solid { display: inline-block; border: 1px solid #000; margin: 5px; padding: 5px; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

span.name-l { float: left; position: relative; left: 100px; z-index: 2; }

span.name-r { position: relative; right: 100px; }

.red { color: #ff0000; }

.bigfont { font-size: 26px; font-weight: bold; line-height: 1.3em; }

.goodques { font-size: 18px; font-weight: bold; }

.scroll { border: 5px double #333333; border-radius: 10px; height: 500px; overflow: auto; }

#edit_tag { max-width: 1050px; margin-left: auto; margin-right: auto; }

/******************************************************************** media *******************************************************************/
.pagi-auto { margin-left: auto; margin-right: auto; text-align: center; }

.pagination { margin: 5px; }

.pagi { background-color: #fffbdd; box-shadow: 0px 0px 300px #f6f4df inset; float: left; border: 1px solid #000; padding: 5px 10px; margin: 5px -2px; font-size: 26px; font-weight: bold; display: block; }
.pagi a { font-weight: normal; font-size: 18px; }

.pagi2 { background-color: #fffbdd; box-shadow: 0px 0px 300px #f6f4df inset; float: left; border: 1px solid #000; padding: 5px 10px; margin: 5px -2px; font-size: 18px; display: block; }

.sort { background-color: #fffbdd; box-shadow: 0px 0px 300px #f6f4df inset; float: left; border: 1px solid #000; padding: 5px 10px; margin: 5px -2px; font-size: 18px; display: block; }

.list-hitokoto { float: left; }

.list-left { float: left; width: 48%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 116px); width: -webkit-calc(100% - 116px); width: calc(100% - 116px); position: relative; }

.list-others { float: right; }

.list-others2 { float: left; font-weight: bold; font-size: 18px; }

.list-title { padding-top: 9px; float: left; font-size: 20px; font-weight: bold; }
.list-title a { text-decoration: underline; }
.list-title a:hover { text-decoration: none; }

.list-icon { margin-left: 5px; width: 35px; height: 35px; }

.hedline-wrap { width: 100%; background-color: #261914; }

.hed-oshirase { width: 80%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 60px); width: -webkit-calc(100% - 60px); width: calc(100% - 60px); position: relative; right: 30px; }

.hedline { color: #fff; background-color: #261914; text-align: left; width: 1050px; margin-left: auto; margin-right: auto; line-height: normal; padding-top: 5px; padding-bottom: 7px; }

.hedline-text { padding-top: 3px; color: #a8a381; }
.hedline-text b { color: #e9e9e9; }
.hedline-text span { color: #fff; }

.hedline a:link { color: #F3EBA2; text-decoration: none; }

.hedline a:visited { color: #F3EBA2; text-decoration: none; }

.hedline a:hover { color: #F3EBA2; text-decoration: underline; }

.naviline { height: 82px; width: 918px; border: 1px solid #F3EBA2; position: relative; left: 10px; z-index: 3; }

.naviline2 { height: 60px; width: 918px; border: 1px solid #F3EBA2; padding-left: 20px; position: relative; top: 10px; left: -11px; }

.navi_naka { height: 60px; width: 100%; background-color: #261914; position: relative; left: -10px; }

.home { float: left; position: relative; top: -33px; right: auto; left: auto; }

.cindy { position: absolute; top: -30px; right: -80px; left: auto; }

.cindy-box { right: 83px; margin-top: 10px; margin-bottom: 55px; font-family: serif; font-weight: bold; width: auto; }
.cindy-box .hukidasi_box { font-size: 18px; padding: 14px; position: relative; bottom: -27px; margin-bottom: 10px; }

.cindy_nesoberi { position: absolute; left: -20px; bottom: 30px; z-index: 9; }

.navibar-wrap { height: 100px; margin-bottom: 40px; background-image: url(../img/navi-background.jpg); background-position: center; background-repeat: repeat-x; box-shadow: 0px 5px 10px #000; }

.navibar { text-align: center; padding-top: 8px; max-width: 940px; margin-right: auto; margin-left: auto; position: relative; }

.navibox { height: 60px; margin: 0px 10px 0px 10px; }

.navibox:hover { background-image: url(../img/siro.png); }

.sub-navi { width: 800px; margin-left: auto; margin-right: auto; position: relative; top: -30px; left: -60px; }

.subnavi { border: 5px double #333333; border-radius: 10px; float: left; padding: 5px 10px; margin-right: 15px; margin-top: 10px; }

.subnavi:hover { text-decoration: none; background-image: none; }

.subnavi2 { border: 5px double #333333; border-radius: 10px; float: left; padding: 5px 10px; margin-right: 15px; margin-top: 10px; background-color: #261914; color: #ffff80; }

.drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before { background-color: #f4eca3; height: 4px; }

.drawer-hamburger { margin-top: 0; top: 6px; margin-right: 6px; height: 10px; width: 28px; padding: 8px 8px 22px; border: 2px solid #F3EBA2; background-color: #261914; box-shadow: 0px 0px 3px #000; }

.drawer-dropdown-menu { padding-left: 15px; }

.drawer-nav { z-index: 4; color: #fff; box-shadow: 0px 0px 10px #000; background-color: #2e1500; }

.drawer-dropdown-menu { background-color: #2e1500; }

.drawer-menu { font-family: serif; }
.drawer-menu a { color: #ffff80; text-decoration: none; }
.drawer-menu a:hover { color: #fff; text-decoration: none; }
.drawer-menu .drawer-title { font-size: 22px; font-weight: bold; }
.drawer-menu .drawer-dropdown-menu a { color: #c6c665; text-decoration: none; }
.drawer-menu .drawer-dropdown-menu a:hover { color: #ffff80; text-decoration: none; }
.drawer-menu div { padding: .75rem; }

.titlelogo { position: relative; top: -20px; text-align: center; margin-bottom: 30px; width: 100%; }

.js-masonry { margin-left: auto; margin-right: auto; }

.item { width: 394px; word-wrap: break-word; word-break: break-all; text-align: left; border-radius: 10px; }

.premium_box { width: 259px; float: left; display: inline-block; margin: 10px; padding: 20px; background-color: #f8f7ed; box-shadow: 0px 3px 10px #000 ,0px 0px 300px #f6f4df inset; max-width: 1050px; font-size: 18px; line-height: 1.7em; font-family: serif; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

.otherbox { text-align: center; font-family: serif; font-size: 23px; font-weight: bold; padding: 10px; width: 48%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(50% - 75px); width: -webkit-calc(50% - 75px); width: calc(50% - 75px); }

.lobbychat { color: #fff; background-image: url(../img/button-8195.png); padding: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px; }
.lobbychat a { color: #dfdfdf; text-decoration: underline; }
.lobbychat a:hover { color: #dfdfdf; text-decoration: none; }

.kokutichat { color: #fff; background-image: url(../img/button-8195-kokuti.png); padding: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px; }
.kokutichat a { color: #dfdfdf; text-decoration: underline; }
.kokutichat a:hover { color: #dfdfdf; text-decoration: none; }

.real-wrap { width: 1050px; margin-left: auto; margin-right: auto; }

.real_l { width: 519px; }

.real_r { width: 513px; }

.realtime { margin-bottom: 7px; }
.realtime .realimg { margin-top: 10px; width: 344px; }

.lobby_l { width: 524px; }

.lobby_r { width: 526px; }

.admin-waku { margin-top: 10px; height: 78px; margin-left: 3px; border: solid 1px #000; padding: 5px; }

.lobbybox { border: solid 1px #000; padding: 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px; }

.gaku { width: 990px; margin-bottom: 15px; padding: 10px; margin-left: 5px; margin-right: 5px; box-shadow: 0px 3px 10px #000 ,0px 0px 300px #f6f4df inset; border-style: solid; border-width: 15px 15px 16px 16px; -moz-border-image: url(../img/box.png) 15 15 16 16 repeat; -webkit-border-image: url(../img/box.png) 15 15 16 16 repeat; -o-border-image: url(../img/box.png) 15 15 16 16 repeat; border-image: url(../img/box.png) 15 15 16 16 fill repeat; }

.mondai_table_w { border: solid 1px #bfbfbf; border-collapse: collapse; margin-bottom: 10px; margin-right: 10px; width: 100%; }
.mondai_table_w th { width: 10%; padding: 5px; }
.mondai_table_w tr { border: 1px solid #bfbfbf; }
.mondai_table_w td { width: 5%; padding: 5px; }
.mondai_table_w th[title="title"] { width: 5%; background-color: #D7D7C4; }
.mondai_table_w th[title="name"] { width: 20%; background-color: #D7D7C4; }
.mondai_table_w td[title="name"] { width: 10%; }
.mondai_table_w td[title="content"] { width: 70%; }
.mondai_table_w td[title="mondai"] { width: 40%; }
.mondai_table_w td[title="date"] { width: 10%; }

/******************************************************************** text *******************************************************************/
input[type=text] { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); height: 25px; padding: 5px; font-size: 16px; margin-bottom: 10px; width: 80%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 12px); width: -webkit-calc(100% - 12px); width: calc(100% - 12px); }

input[type=text]:focus { border: solid 1px #20b2aa; }

input[type=text], select { outline: none; }

input[type=password] { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); height: 25px; padding: 5px; font-size: 16px; margin-bottom: 10px; width: 80%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 12px); width: -webkit-calc(100% - 12px); width: calc(100% - 12px); }

input[type=password]:focus { border: solid 1px #20b2aa; }

input[type=password], select { outline: none; }

input[type=checkbox] { width: 25px; height: 25px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); padding: 8px; cursor: pointer; margin-bottom: 10px; color: #333; font-size: 16px; background: #F7F5E4; }

input[type=checkbox]:hover { background: #dfdfdf; }

/******************************************************************** textarea *******************************************************************/
textarea { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); height: 100px; padding: 5px; font-size: 16px; margin-bottom: 10px; width: 80%; /* IE8以下とAndroid4.3以下用フォールバック */ width: -moz-calc(100% - 10px); width: -webkit-calc(100% - 10px); width: calc(100% - 10px); }

textarea:focus { border: solid 1px #20b2aa; }

textarea, select { outline: none; }

/******************************************************************** button *******************************************************************/
select { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); padding: 8px; cursor: pointer; margin-bottom: 10px; color: #333; background: #F7F5E4; }

input[type=submit] { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); padding: 8px; cursor: pointer; margin-bottom: 10px; color: #333; font-size: 16px; background: #F7F5E4; }

input[type=submit]:hover { background: #dfdfdf; }

input[type=file] { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); width: 200px; padding: 10px; cursor: pointer; margin-bottom: 10px; color: #333; font-size: 16px; background: #F7F5E4; }

input[type=file]:hover { background: #dfdfdf; }

button { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border: #a9a9a9 1px solid; -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), 0 0 2px rgba(0, 0, 0, 0.3); padding: 10px; cursor: pointer; margin-bottom: 10px; color: #333; font-size: 16px; background: #F7F5E4; }

button:hover { background: #dfdfdf; }

* { margin: 0; padding: 0; }

.img_center { display: block; margin-left: auto; margin-right: auto; }

div { word-break: break-all; }

table { width: 100%; word-break: break-all; }

html { height: 100%; }

body { min-width: 1050px; -webkit-text-size-adjust: 100%; height: 100%; margin: 0px; font-size: 15px; line-height: 1.5em; background-image: url(../img/texture.gif); }

.curtain { background-image: url(../img/curtain.png); background-position: 50% 131px; background-repeat: repeat-x; }

#wrap { overflow-x: hidden; position: relative; min-height: 100%; }

#content { min-height: 1200px; max-width: 1050px; margin-left: auto; margin-right: auto; padding-bottom: 349px; }

.main { height: 100%; }

#footwrap { overflow: hidden; position: absolute; bottom: 0px; height: 249px; width: 100%; }

#foothed { width: 100%; height: 99px; background-image: url(../img/foothed.png); }

#fw { width: 100%; background: #251712; }

#footer { padding-top: 20px; height: 150px; width: 80%; margin-left: auto; margin-right: auto; background: #251712; color: #fff; }
#footer a { color: #fff; text-decoration: underline; }
#footer a:hover { color: #fff; text-decoration: none; }

.black-bar { text-align: center; padding: 15px; background-color: #000; box-shadow: 0px 0px 10px #000; color: #F3EBA2; margin: 0 -100%; }
.black-bar a { color: #fff; text-decoration: underline; }
.black-bar a:hover { color: #fff; text-decoration: none; }

.gray { color: #a9a9a9; }

.red { color: #ff6347; }

.font14 { font-size: 14px; line-height: 1.5em; }

.font18 { font-size: 20px; line-height: 1.5em; }

h1 { line-height: 1.3em; margin: 0px; font-family: serif; }

h2 { line-height: 1.3em; font-family: serif; }

.big { font-size: 26px; font-weight: bold; line-height: 1.3em; }

img { max-width: 100%; height: auto; }

.left_box { margin-top: 55px; float: left; width: 70%; }

.right_box { background-color: #000; color: #fff; margin-top: 55px; float: right; width: 30%; }

a { color: #000; text-decoration: underline; }

a:hover { color: #000; border-bottom: none; text-decoration: none; }

.radius { border-radius: 50%; border: 1px solid #000; overflow: hidden; }

.clear { clear: both; }

.clearfix:after { display: block; clear: both; content: ""; }

.border { background-image: url(../img/siro.png); padding: 10px; margin-bottom: 10px; border: 5px double #333333; border-radius: 10px; }

.background_siro { background-color: #fff; }

input[type=submit].bookmark { position: relative; top: -77px; left: -18px; width: 180px; height: 99px; background: none; border: none; box-shadow: none; background-image: url(../img/bookmark.png); text-indent: -9999px; margin-bottom: -70px; }

.text-big1 { font-size: 18px; line-height: 18px; font-weight: bold; vertical-align: middle; }

.text-big2 { font-size: 28px; line-height: 28px; font-weight: bold; vertical-align: middle; }

.text-big3 { font-size: 38px; line-height: 38px; font-weight: bold; vertical-align: middle; }

.img-h4 { vertical-align: middle; width: 31px; height: 36px; padding-right: 5px; }

.img-h3 { vertical-align: middle; width: 44px; height: 51px; padding-right: 8px; }

.img-h2 { vertical-align: middle; width: 64px; height: 74px; padding-right: 8px; }

.img-h2-2 { vertical-align: middle; width: 61px; height: 71px; padding-right: 8px; }

.fixed { position: fixed; z-index: 3; bottom: 0; }

.align_c { text-align: center; }

.align_l { text-align: left; }

.align_r { text-align: right; }

.margin_t7 { margin-top: 7px; }

.margin_t10 { margin-top: 10px; }

.margin_t30 { margin-top: 30px; }

.margin_t50 { margin-top: 50px; }

.margin_r { margin-right: 5px; }

.margin_r10 { margin-right: 10px; }

.margin_r20 { margin-right: 20px; }

.margin_b10 { margin-bottom: 10px; }

.margin_b30 { margin-bottom: 30px; }

.margin_b50 { margin-bottom: 50px; }

.margin_l { margin-left: 5px; }

.margin_l10 { margin-left: 10px; }

.padding_t10 { padding-top: 10px; }

.padding20 { padding: 20px; }

.r { float: right; }

.l { float: left; }

.r_m { float: right; }

.margin10 { margin: 10px; }

#top { position: fixed; bottom: 0; right: 18px; width: 60px; }

.slider { margin-top: 10px; width: 712px; overflow: hidden; position: relative; margin-left: auto; margin-right: auto; }

.slider .slideSet { position: absolute; }

.slider .slide { width: 712px; float: left; }

.story_img { width: 700px; padding-top: 6px; padding-right: 6px; padding-left: 6px; background-color: #000; margin-left: auto; margin-right: auto; }

.serif { width: 672px; background-color: #000; padding: 20px; margin-left: auto; margin-right: auto; }

.hukidashi { width: 624px; padding: 20px; border: 4px solid #fff; color: #fff; font-size: 140%; margin-left: auto; margin-right: auto; }

.hukidashi_name { width: 20%; float: left; text-align: right; font-size: 80%; }

.hukidashi_moji { width: 80%; float: left; }

.slider-prev { margin-top: 20px; color: #fff; text-decoration: underline; font-size: 120%; float: left; }

.slider-next { margin-top: 20px; color: #fff; text-decoration: underline; font-size: 120%; float: right; }

.f-message { font-size: 38px; line-height: 38px; font-weight: bold; vertical-align: middle; margin: 20px; padding: 20px; text-align: center; -webkit-border-radius: 10px; /* for Safari and Chrome */ -moz-border-radius: 10px; /* for Firefox */ -o-border-radius: 10px; /* for opera */ border-radius: 20px; color: #000; background-color: #fff; box-shadow: 0px 0px 3px #000; }
