/********************************************************************
 * bootstrap
 ********************************************************************/

$window-l: 1050px;
$window-m: 978px;
$window-ms: 650px;
$window-s: 414px;
$container-l: 1200px;
$container-m: 970px;
$container-s: 750px;

/********************************************************************
 * bootstrap
 ********************************************************************/
